a {
    margin: 5px 5px 5px 5px;
    background-color: violet;
    color: white;
    padding: 8px;
}

a:hover{
    background-color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
}
.has-text-centered{
    padding:2rem;
}