<div class="grid-container">
  <nz-card *ngFor="let data of employeDetails | paginate: { itemsPerPage: 3, currentPage: page}" nzTitle={{data.name}}
    class="card_margin">
    <div class="grid-item">
      <br />

      <p>Email: {{data.email}}</p>
      <p>Company Id: {{data.companyId}}</p>
      <p>Gender: {{data.gender}}</p>
      <p>DOJ : {{data.doj | date: 'shortDate'}}</p>
      <p>Department: {{data.department}}</p>
      <a (click)="open(data.id)" title="Edit"><span nz-icon nzType="form" nzTheme="outline"></span></a>
      <a (click)="deleteEmployee(data)" title="Delete"><span nz-icon nzType="delete" nzTheme="outline"></span></a>

    </div>
  </nz-card>
</div>
<div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<nz-modal [(nzVisible)]="isDeleteModalOpen" nzTitle="Do you want to delete this employeDetails"
  [(nzCancelText)]="isCancel" [(nzOkText)]="isOk" (nzOnCancel)="handleCancel()" (nzOnOk)="handleDelete()">
  <button (click)="handleCancel()">Cancel</button>
  <button (click)="handleDelete()">Delete</button>
</nz-modal>

<!-- Reuse employee form component instead reusing the code DONE--> 

<nz-drawer *ngIf="visible" [nzWidth]="500" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right"
  nzTitle="Employee Form" (nzOnClose)="close()">
  <app-edit-employee [element]="dataId"></app-edit-employee>
</nz-drawer>