.layout {
    min-height: 100vh;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  .row {
    display: flex;
    // background-color: yellow;
  }

  .nav1 {
    flex: 20%;
    // background-color: grey;
  }

  .nav2 {
    flex: 40%;
    // background-color: green;
    display: flex;
  }

  .profile{
    flex: 50%;
    // background-color: black;
    align-items: end;
    justify-content: flex-end;
  }

  .logout{
    height: 50px;
    width: 200px;
    align-items: flex-end;
    // background-color: blue;
  }


  nz-content {
    margin: 24px 16px 0;
  }

  .inner-content {
    padding: 10px;
    background: #fff;
    min-height: 650px;
  }

  .btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .col2{
    flex: 50%;
    color: white;
  }

  .col1 {
    height: 50px;
    width: 150px;
    // flex: 50%;
    color: white;
  }

  nz-footer {
    text-align: center;
  }

  .logo {
    font-size: 20px;
  }

  .view{
    margin: 2px 2px 2px 2px;
    width: 1100px;
  }