<nz-layout class="layout">
  <nz-sider nzCollapsible [nzCollapsedWidth]="0">

    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="profile" nzTheme="outline"></span>
        <span><a [routerLink] = "['/home','listview']" style="color: white;">List View</a></span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="container" nzTheme="outline"></span>
        <span><a [routerLink] = "['/home','cardview']" style="color: white;">Card View</a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="row">
        <div class="nav1">
          <span class="logo"><strong>Gainsight</strong></span>
        </div>
        <div class="nav2">
          <div class="profile">
          </div>
          <div class="logout">
            <span><strong>{{name}}</strong></span>
          </div>
          <div class="logout">
            <span><a (click)="onLogout()"><strong>Logout</strong></a></span>
          </div>
        </div>
      </div>
      
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div class="btn">
          <div class="col1">
            <button nz-button nzType="primary" (click)="showModal2()">Add Employee</button>
          </div>
        </div>
       
       <div class="view">
        <router-outlet></router-outlet>
       </div>
        
      </div>
    </nz-content>
    <nz-footer>Angular ©2020 Implement By Badal</nz-footer>
  </nz-layout>
</nz-layout>