<div>
  <nz-table
    #basicTable
    [nzData]="employeDetails"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    [nzSize]="'small'"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>CompanyId</th>
        <th>Gender</th>
        <th>DOJ</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeDetails">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.companyId }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.doj | date: "shortDate" }}</td>
        <td>{{ data.department }}</td>
        <td>
          <a (click)="open(data.id)" title="Edit"
            ><span nz-icon nzType="form" nzTheme="outline"></span
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteEmployee(data)" title="Delete"
            ><span nz-icon nzType="delete" nzTheme="outline"></span
          ></a>
        </td>
      </tr>
    </tbody>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nz-table>

  <nz-modal
    [(nzVisible)]="isDeleteModalOpen"
    nzTitle="Do you want to delete this employeDetails"
    [(nzCancelText)]="isCancel"
    [(nzOkText)]="isOk"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleDelete()"
  >
    <button (click)="handleCancel()">Cancel</button>
    <button (click)="handleDelete()">Delete</button>
  </nz-modal>

  <!-- Reuse employee form component instead reusing the code DONE-->

  <nz-drawer
    *ngIf="visible"
    [nzWidth]="500"
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    nzTitle="Employee Form"
    (nzOnClose)="close()"
  >
    <app-edit-employee [element]="dataId"></app-edit-employee>
  </nz-drawer>
</div>
